.client-list {
  display: flex;
  margin-top: 50px;
}
.client-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 250ms var(--cubic-bezier);
}
.client-item + .client-item {
  margin-left: 30px;
}
.client-link:focus {
  outline: 2px solid var(--active-color);
}
.icon-partner {
  fill: var(--icons-social-color);
  transition: fill 250ms var(--cubic-bezier);
}
.client-item:hover .icon-partner,
.client-item:focus .icon-partner,
.client-item:hover,
.client-item:focus {
  fill: var(--active-color, blue);
  border-color: var(--active-color, blue);
}